<div class="container">
    <mat-horizontal-stepper [selectedIndex]="currentStep - 1" linear>
      <mat-step label="Infos"></mat-step>
      <mat-step label="Compte"></mat-step>
      <mat-step label="Adresse"></mat-step>
      <mat-step label="Résumé"></mat-step>
    </mat-horizontal-stepper>
    <h1>Informations Personnelles</h1>
    <form [formGroup]="form">
      <div class="mb-5">
        <label class="input-label">Nom</label>
        <input type="text" formControlName="nom"class="form-control small-input">
      </div>

      <div class="mb-5">
        <label class="input-label">Prenom</label>
        <input type="text" formControlName="prenom" class="form-control small-input">
      </div>

      <div class="mb-5">
        <label class="input-label">Email</label>
        <input type="email" formControlName="email" class="form-control small-input">
      </div>
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small class="text-danger">Email invalide</small>
      </div>

      <div class="mb-5">
        <label class="input-label">Date de naissance</label>
        <div class="mb-5 small-input">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-hint>JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button mat-raised-button (click)="previous()">Retour</button>
      <button mat-raised-button color="primary" (click)="next()">Suivant</button>
    </div>
</div>

