<h1>Informations Personnelles</h1>

<form [formGroup]="form">
  <div class="mb-5">
    <label class="input-label">Nom</label>
    <input type="text" formControlName="nom" class="form-control small-input">
    <div *ngIf="form.get('nom')?.touched && form.get('nom')?.invalid">
      <small class="text-danger">Nom invalide</small>
    </div>
  </div>

  <div class="mb-5">
    <label class="input-label">Prénom</label>
    <input type="text" formControlName="prenom" class="form-control small-input">
    <div *ngIf="form.get('prenom')?.touched && form.get('prenom')?.invalid">
      <small class="text-danger">Prénom invalide</small>
    </div>
  </div>

  <div class="mb-5">
    <label class="input-label">Email</label>
    <input type="email" formControlName="email" class="form-control small-input">
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small class="text-danger">Email invalide</small>
    </div>
  </div>

  <div class="mb-5">
    <label class="input-label">Sexe</label>
    <select formControlName="sexe" class="form-control small-input">
      <option value="M">M</option>
      <option value="F">F</option>
    </select>
  </div>

  <div class="mb-5">
    <label class="input-label">Date de naissance</label>
    <div class="small-input">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</form>